name: HappyHeadlinesDev

x-mssql: &mssql
  image: mcr.microsoft.com/mssql/server:2022-latest
  environment:
   SA_PASSWORD: "Passw0rd!"
   ACCEPT_EULA: "Y"
   MSSQL_PID: Developer
  healthcheck:
   test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'Passw0rd!' -Q 'SELECT 1' -C || exit 1"]
   interval: 10s
   timeout: 5s
   retries: 3

services:
  seq:
   image: datalust/seq
   ports:
    - "5341:5341"
    - "5342:80"
   volumes:
    - "rps_seq_data:/data"
   environment:
    ACCEPT_EULA: "Y"
    SEQ_FIRSTRUN_ADMINPASSWORD: "Passw0rd!"
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
   networks:
    - elastic-jaeger

  prometheus:
   image: prom/prometheus:latest
   ports:
    - "9090:9090"
   volumes:
    - ./prometheus.yml:/etc/prometheus/prometheus.yml
   networks:
    - elastic-jaeger
   depends_on:
    article-service:
     condition: service_started

  rabbitmq:
   image: rabbitmq:management
   ports:
    - "5672:5672"
    - "15672:15672"
   environment:
    RABBITMQ_DEFAULT_USER: "admin"
    RABBITMQ_DEFAULT_PASS: "happyheadlines"
   volumes:
    - rps_rmq_data:/var/lib/rabbitmq
   networks:
    - elastic-jaeger
   healthcheck:
    test: ["CMD", "rabbitmq-diagnostics", "check_running"]
    interval: 10s
    timeout: 10s
    retries: 10
    start_period: 60s

  elasticsearch:
   image: elasticsearch:8.19.4
   restart: on-failure
   networks:
    - elastic-jaeger
   environment:
     - cluster.name=jaeger-cluster
     - discovery.type=single-node
     - xpack.security.enabled=false
     - ES_JAVA_OPTS=-Xms512m -Xmx512m
   ports:
     - "9200:9200"
   volumes:
     - es-data:/usr/share/elasticsearch/data
   healthcheck:
    test: ["CMD-SHELL", "curl -f http://localhost/_cluster/health?wait_for_status=yellow&timeout=5s || exit 1"]
    interval: 10s
    timeout: 5s
    retries: 3
    start_period: 60s

  jaeger:
   image: jaegertracing/all-in-one:latest
   ports:
    - "16686:16686"
   restart: on-failure
   environment:
    SPAN_STORAGE_TYPE: "elasticsearch"
    ES_SERVER_URLS: "http://elasticsearch:9200"
   networks:
    - elastic-jaeger
   depends_on:
    elasticsearch:
     condition: service_healthy

  featurehub:
   image: featurehub/party-server:latest
   ports:
    - "8085:8085"
   restart: always
   volumes:
    - featurehub-h2-data:/db
   networks:
    - elastic-jaeger

  mailpit:
   image: axllent/mailpit:latest
   ports:
    - "8025:8025"
    - "1025:1025"
   networks:
    - elastic-jaeger

  redis:
   image: redis:latest
   ports:
    - "6379:6379"
   command: ["redis-server", "--appendonly", "yes"]
   healthcheck:
    test: ["CMD-SHELL", "redis-cli", "ping"]
    interval: 10s
    timeout: 5s
    retries: 3
   restart: 
    always
   volumes:
    - redis:/data
   networks:
    - elastic-jaeger

  eu-db:
   <<: *mssql
   ports:
    - "1433:1433"
   volumes:
    - "eudb-data:/var/opt/mssql"
   networks:
    - elastic-jaeger

  na-db:
   <<: *mssql
   ports:
    - "1434:1433"
   networks:
    - elastic-jaeger
   volumes:
    - "nadb-data:/var/opt/mssql"

  as-db:
   <<: *mssql
   ports:
    - "1435:1433"
   volumes:
    - "asdb-data:/var/opt/mssql"

  sa-db:
   <<: *mssql
   ports:
    - "1436:1433"
   volumes:
    - "sadb-data:/var/opt/mssql"

  oc-db:
   <<: *mssql
   ports:
    - "1437:1433"
   volumes:
    - "ocdb-data:/var/opt/mssql"

  af-db:
   <<: *mssql
   ports:
    - "1438:1433"
   volumes:
    - "afdb-data:/var/opt/mssql"

  an-db:
   <<: *mssql
   ports:
    - "1439:1433"
   volumes:
    - "andb-data:/var/opt/mssql"

  gl-db:
   <<: *mssql
   ports:
    - "1440:1433"
   volumes:
    - "gldb-data:/var/opt/mssql"

  article-service:
   image: ghcr.io/adnanomerbasic/article-service:latest
   build:
    context: .
    dockerfile: src/ArticleService/ArticleService.Api/Dockerfile
    cache_from:
     - article-service:latest
   deploy:
    replicas: 3
    restart_policy:
     condition: on-failure
     max_attempts: 3
     window: 2m
   environment:
    ConnectionString__EU: "Server=eu-db;Database=EU_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionString__NA: "Server=na-db;Database=NA_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionString__AS: "Server=as-db;Database=AS_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionString__SA: "Server=sa-db;Database=SA_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionString__OC: "Server=oc-db;Database=OC_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionString__AF: "Server=af-db;Database=AF_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionString__AN: "Server=an-db;Database=AN_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionString__GL: "Server=gl-db;Database=GL_Db;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ConnectionStrings__REDIS: "redis:6379"
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
   ports:
    - "80"
   develop:
    watch:
    - path: src/ArticleService
      target: src/ArticleService
      action: sync
   networks:
    - elastic-jaeger
   depends_on:
     eu-db: 
      condition: service_healthy 
     rabbitmq:
      condition: service_healthy   
     redis:
      condition: service_healthy
     na-db:
      condition: service_healthy
     as-db:
      condition: service_healthy
     sa-db:
      condition: service_healthy
     oc-db:
      condition: service_healthy
     af-db:
      condition: service_healthy
     an-db:
      condition: service_healthy
     gl-db:
      condition: service_healthy

  comment-db:
   <<: *mssql
   ports:
    - "1441:1433"
   networks:
    - elastic-jaeger
   volumes:
    - "commentdb-data:/var/opt/mssql"

  comment-service:
   image: ghcr.io/adnanomerbasic/comment-service:latest
   build: 
    context: .
    dockerfile: src/CommentService/CommentService.Api/Dockerfile
    cache_from:
     - comment-service:latest
   environment:
    ConnectionStrings__CommentDb: "Server=comment-db;Database=CommentDb;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
    Services__ProfanityApi: "http://profanity-service:80"
    ConnectionStrings__REDIS: "redis:6379"
   develop:
    watch:
     - path: src/CommentService
       target: src/CommentService
       action: sync 
   networks:
    - elastic-jaeger
   ports:
    - "8080:80"
   depends_on:
    comment-db:
     condition: service_healthy
    redis:
     condition: service_healthy
   
  profanity-db:
   <<: *mssql
   ports:
    - "1442:1433"
   volumes:
    - "profanitydb-data:/var/opt/mssql"

  profanity-service:
   image: ghcr.io/adnanomerbasic/profanity-service:latest
   build:
    context: .
    dockerfile: src/ProfanityService/ProfanityService.Api/Dockerfile
    cache_from:
     - profanity-service:latest
   environment:
    ConnectionStrings__ProfanityDb: "Server=profanity-db;Database=ProfanityDb;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
   develop:
    watch:
     - path: src/ProfanityService
       target: src/ProfanityService
       action: sync
   ports:
    - "8081:80"
   depends_on:
    profanity-db:
     condition: service_healthy

  draft-db:
   <<: *mssql
   ports:
    - "1443:1433"
   networks:
    - elastic-jaeger
   volumes:
    - "draftdb-data:/var/opt/mssql"

  draft-service:
   image: ghcr.io/adnanomerbasic/draft-service:latest
   build:
    context: .
    dockerfile: src/DraftService/DraftService.Api/Dockerfile
    cache_from:
     - draft-service:latest
   environment:
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
    ConnectionStrings__DraftDb: "Server=draft-db;Database=DraftDb;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
   develop:
    watch:
    - path: src/DraftService 
      target: src/DraftService
      action: sync
   ports:
    - "8082:80"
   networks:
    - elastic-jaeger
   depends_on:
     draft-db:
      condition: service_healthy
   
  publisher-service:
   image: ghcr.io/adnanomerbasic/publisher-service:latest
   build:
    context: .
    dockerfile: src/PublisherService/PublisherService.Api/Dockerfile
    cache_from:
     - publisher-service:latest
   environment:
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
   ports:
    - "8083:80" 
   networks:
    - elastic-jaeger

  newsletter-service:
   image: ghcr.io/adnanomerbasic/newsletter-service:latest
   build:
    context: .
    dockerfile: src/NewsletterService/NewsletterService.Api/Dockerfile
    cache_from:
     - newsletter-service:latest
   environment:
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
    Smtp__Host: "mailpit"
    Smtp__Port: "1025"
    Smtp__FromEmail: "no-reply@happyheadlines.com"
    Smtp__FromName: "HappyHeadlines"
    Services__SubscriberApi: "http://subscriber-service:80"
   ports:
    - "8084:80"
   networks:
    - elastic-jaeger
   depends_on:
    mailpit:
        condition: service_started
    rabbitmq:
        condition: service_healthy

  subscriber-db:
   <<: *mssql
   ports:
    - "1444:1433"
   networks:
    - elastic-jaeger
   volumes:
    - "subscriberdb-data:/var/opt/mssql"

  subscriber-service:
   image: ghcr.io/adnanomerbasic/subscriber-service:latest
   build:
    context: .
    dockerfile: src/SubscriberService/SubscriberService.Api/Dockerfile
    cache_from:
     - subscriber-service:latest
   environment:
    ASPNETCORE_ENVIRONMENT: "Development"
    ASPNETCORE_URLS: "http://+:80"
    ConnectionStrings__SubscriberDb: "Server=subscriber-db;Database=SubscriberDb;User Id=sa;Password=Passw0rd!;TrustServerCertificate=True"
    RabbitMQ: "host=rabbitmq;username=admin;password=happyheadlines"
   ports:
    - "8086:80"
   networks:
    - elastic-jaeger
   depends_on:
    subscriber-db:
        condition: service_healthy
    rabbitmq:
        condition: service_healthy
    featurehub:
        condition: service_started
    

volumes:
    eudb-data: {}
    nadb-data: {}
    asdb-data: {}
    sadb-data: {}
    ocdb-data: {}
    afdb-data: {}
    andb-data: {}
    gldb-data: {}
    commentdb-data: {}
    profanitydb-data: {}
    rps_seq_data: {}
    draftdb-data: {}
    es-data: {}
    rps_rmq_data: {}
    redis: {}
    localprom: {}
    subscriberdb-data: {}
    featurehub-h2-data: {}

networks:
  elastic-jaeger: {}
     